@page "{shoeId:int}"
@model WebApplicationFelix.Pages.Shoes.DetailModel
@{
    ViewData["Title"] = "Detail";
}
@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<h2>@Model.Shoe.name</h2>
<div>Id: @Model.Shoe.id</div>
<div>Cost: @Model.Shoe.cost</div>
<div>Type: @Model.Shoe.type</div>

<a asp-page="./Shoe" class="btn btn-primary">All Shoes</a>